.header{
    background-color:#1F2937 ;
    color:white;
    
}
body{
    margin:0px;
    padding:0px;
}
ul{
    list-style-type: none;
    font-size: 18px;
    color:#F9FAF8
}
.leftside div{
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
    display: flex;
}

a{
    text-decoration: none;
    color:white;
}
.footer{
    background-color: #3882F6;
    color:white;
    font-size:24px;
    text-align: center;
    border-radius: 8px;
    margin:4rem 14rem;
    padding:8px;
    display:flex;
    justify-content: space-evenly;

}
.quote{
    background-color:#E5E7EB ;
}

.card>img {
    border: 2px solid #3882F6; 
}
button{
    background-color: #3882F6;
    width:10rem;
    text-align: center;
    padding:4px;
    border:1px solid white;
    border-radius:6px;
    font-size: 20px;
    color:white;
    font-weight: bold;
}
.top{
    display: flex;
    gap:60rem;
    margin-bottom: 32px;
    flex:1;
    margin-left:16rem;
}
.head-content{
    display: flex;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    flex:1;
    justify-content:space-evenly;
    margin-left:8rem;
    margin-right:8rem;
    margin-bottom: 4rem;
}

.info{
    font-size:36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
}
.quote{
    text-align: center;
    font-size:36px;
    font-style: italic;
    font-weight:lighter;
    padding:8px 16rem;
}
.footer button{
    height:5vh;
    align-self: center;
}